/* CSS Style source */

/* Main page */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #0f0f0f;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Navigation Bar */
nav {
    background-color: #333;
    text-align: center;
    padding: 1%;
    position: fixed;
    width: 100%; /* Make the navigation bar span the full width of the viewport */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure the navigation bar is above other elements */
}

nav ul {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1%; /* Distance between elements in the nav bar */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    size: 150px;
    width: 100px;
    outline: none;
    border: none;
}

/* Welcome section */
#welcome{
    margin: 0 auto;
    height: 750px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.welcome-background{
    height: 750px;
    background-image: url('images/iceland_coastline.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* This property ensures that the background image covers the entire container */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
}

.big-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

/* Projects section */
#projects{
    margin: 0 auto;
    height: 750px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Research section */
#publications{
    margin: 0 auto;
    height: 750px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Personal section */
#personal {
    margin: 0 auto;
    height: 750px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-indent: 5%;
    border-bottom: 2px solid #333;
    padding-top: 50px;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
}

h3 {
    text-align: left;
    padding-bottom: 5px;
}

h4 {
    text-align: left;
    padding-bottom: 5px;
}

/* ---Contact section--- */
#contact{
    margin: 0 auto;
    height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.contact-box {
    height: 250px;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-item {
    flex-basis: 30%; /* Adjust the width as needed */
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.underline {
    text-decoration: underline;
}

/* Designed by */
#rights{
    margin: 0 auto;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.rights-box p{
    margin: 0; /* Remove default margin */
    padding: 0;
    text-align: center;
    color: #6d6d6d;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .main {
        height: auto;
        margin: 0 10px;
    }

    h2 {
        text-indent: 10px;
        border-bottom: 2px solid #333;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    nav {
        background-color: #333;
        text-align: center;
        padding: 1%;
        position: fixed;
        width: 100%; /* Make the navigation bar span the full width of the viewport */
        top: 0; /* Position it at the top of the viewport */
        z-index: 1000; /* Ensure the navigation bar is above other elements */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 1%;
    }
}