/* CSS Style source */

/* Main page */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #0f0f0f;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    background-image: url('images/iceland_coastline.jpg');
    /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navigation Bar */
nav {
    background-color: #333;
    text-align: center;
    padding: 0.5%;
    position: fixed;
    width: 100%;
    /* Make the navigation bar span the full width of the viewport */
    top: 0;
    /* Position it at the top of the viewport */
    z-index: 1000;
    /* Ensure the navigation bar is above other elements */
    opacity: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    /* Remove default margin */
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1%;
    /* Distance between elements in the nav bar */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    outline: none;
    border: none;
}

/* Welcome section */
#welcome {
    margin: 0 auto;
    height: 750px;
    margin-bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

#welcome .container {
    height: 750px;
}

#welcome .big-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

/* Projects section */
#projects {
    margin: 0 auto;
    height: 750px;
    margin-bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

#projects .container {
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#projects .category-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 20px auto;
}

#projects .tile {
    position: relative;
    width: calc(100% - 40px);
    /* Full width of the container with some padding */
    margin: 15px 0;
    overflow: hidden;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 50px;
    /* Initial height of the tile */
    padding: 10px;
    box-sizing: border-box;
}

#projects .tile.expanded {
    max-height: 150px;
    /* Expanded height of the tile */
    padding: 20px;
}

#projects .tile-content {
    box-sizing: border-box;
}

#projects .tile-header {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

#projects .tile-description {
    display: none;
    color: #000;
    margin-top: 10px;
    transition: opacity 0.3s ease-in-out;
}

#projects .tile.expanded .tile-description {
    display: block;
    opacity: 1;
}

/* Research section */
#publications {
    margin: 0 auto;
    height: 750px;
    margin-bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

#publications .container {
    background: #1d1d1d;
}

/* Personal section */
#personal {
    margin: 0 auto;
    height: 750px;
    margin-bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

#personal .container {
    background: #1d1d1d;
}

h2 {
    text-indent: 5%;
    border-bottom: 2px solid #ffffff;
    padding-top: 50px;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
}

h3 {
    text-align: left;
    padding-bottom: 5px;
}

h4 {
    text-align: left;
    padding-bottom: 5px;
}

/* ---Contact section--- */
#contact {
    margin: 0 auto;
    height: 400px;
    margin-left: 3%;
    margin-right: 3%;
}

#contact .contact-box {
    height: 250px;
    background: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact .contact-item {
    flex-basis: 30%;
    /* Adjust the width as needed */
    padding: 0.5%;
    padding-top: 5%;
    text-align: center;
    margin: 1%;
}

#contact .underline {
    text-decoration: underline;
}

/* Designed by */
#rights {
    margin: 0 auto;
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
}

#rights .rights-box p {
    margin: 0;
    /* Remove default margin */
    text-align: center;
    color: #ffffff;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .main {
        height: auto;
        margin: 0 10px;
    }

    h2 {
        text-indent: 10px;
        border-bottom: 2px solid #333;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav li {
        display: block;
        flex-basis: 100%
    }

    /* ---Contact section--- */
    #contact {
        margin: 0 auto;
        height: 750px;
        margin-left: 3%;
        margin-right: 3%;
    }

    #contact .contact-box {
        height: 450px;
        background: #1d1d1d;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #contact .contact-item {
        flex-basis: 100%
    }

    #contact .underline {
        text-decoration: underline;
    }
}